<div class="container mt-4 title">
    <div class="row">
        <div class="col">
            <h1>
               <i class="fa-solid fa-pen"></i> &nbsp;
               Edit Contact Page
                </h1>
    
                <p style="text-align:justify;">
                    This is dummy data: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sunt commodi mollitia et iste voluptate ex, nam magni? Dolores eaque ab sed? Architecto veritatis rem numquam! Corporis nisi similique quae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eum culpa voluptates fuga, inventore voluptate, sapiente nisi cupiditate recusandae magni odio ratione vero! Adipisci reiciendis est, eum et error rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nesciunt soluta vitae corrupti molestias recusandae ducimus corporis facere id reprehenderit blanditiis sequi quo, harum totam optio praesentium. Nam, ipsam atque!
                </p>
        </div>
    </div>

    <!--Add Contact Form-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="border p-3 rounded">
                <div class="mb-2">
                    <input placeholder="Name" type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <input placeholder="Photo URL" type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <input placeholder="Email Id" type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <input placeholder="Mobile Number" type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <input placeholder="Company" type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <input placeholder="Title" type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <select name="" id="" class="form-control">
                        <option value="" selected hidden disabled>Select A Group</option>
                        <option value="">Family</option>
                        <option value="">Friends</option>
                    </select>
                </div>

                <div class="mb-2">
                    <input value="Update" type="button" class="btn btn-success">
                    <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                </div>

            </form>
        </div>

<div class="col-md-4">
    <img src="https://www.freeiconspng.com/thumbs/person-icon-blue/person-icon-blue-9.png" alt="no image" class="contact_image mt-3">

</div>


    </div>
</div>

</div>
